/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.blue {
    background-color: #006CFA;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}

.nested {
    background-color: #00E165;
    padding: 20px 0;
    border: 1px solid #006CFA;
}



