/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.black {
    background-color: black;
    border: 1px solid black;
    width: 83.58px;
    height: 83.58px;
}

.red {
    background-color: red;
    border: 1px solid black;
    width: 83.58px;
    height: 83.58px;
}

.white {
    background-color: white;
    border: 1px solid black;
    width: 83.58px;
    height: 83.58px;
}

